bookmarks
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a></li>
  <% end %>
</ul>

<form action="/bookmarks/delete" method="get">
  <input type="submit" value="Delete" />
</form>
